.about-container {
    text-align: center;
    position: relative;
}

.thoughts::before {
    content: '.........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................';
    font-size: 2px;
    border-top: 60px solid white;
}

.thoughts {
    font-size: 32px;
    width: 700px;
    margin-top: 80px;
    border: 14px solid var(--light-background);
    border-radius: 60px;
    position: relative;
}

.thoughts::after {
    content: '.........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................';
    font-size: 2px;
    border-bottom: 40px solid white;
}

.thought {
    font-style: italic;
}

.author {
    color: gray;
}